# .env.example
# Copy this file to '.env' and adjust paths/values to match your environment.

# Local/cluster paths for the TIKI project
TIKI_BASE_PATH="/sc-projects/sc-proj-cc15-preact/SP6"
TIKI_PROJ_SHEET="1z8L1234567890asdfghjklqwertyuiopzxcvbnmm123"
TIKI_CREDENTIAL_PATH="/home/leha18/tiki_code/notebooks/tiki-399609-b68b5ade4dfb.json"
