/* css styles */

/* Change background color of the header */
.navbar {
    background-color: #4A5759; /* Replace with your desired color */
  }

/* Optional: Change text color in the navbar */
.navbar a,
.navbar-brand {
  color: #B0C4B1 !important; /* Makes text white for contrast */
}

/* Headline colors */
  h2 {
    color: #4A5759; 
  }
  
  h3 {
    color: #4A5759; 
  }

/* color inspiration: https://coolors.co/palettes/trending */

/* nice: #15616d
         #7c6a0a

/* old: #e0e1dd
        #415a77
        #415a77