/* css styles */

/* Change background color of the header */
.navbar {
    background-color: #4A5759; /* Replace with your desired color */
  }

/* Optional: Change text color in the navbar */
.navbar a,
.navbar-brand {
  color: #B0C4B1 !important; /* Makes text white for contrast */
}

/* Headline colors */
  h2 {
    color: #4A5759; 
  }
  
  h3 {
    color: #4A5759; 
  }

/* color inspiration: https://coolors.co/palettes/trending */

/* nice: #15616d
         #7c6a0a

/* old: #e0e1dd
        #415a77
        #415a77

/* Change the background of the callout title (headline) */
.callout-tip.callout .callout-title {
  background-color: #B0C4B1; /* Example: soft yellow */
  color: #000000;            /* Text color */
  padding: 0.75em;
  border-radius: 6px 6px 0 0; /* Rounded top corners */
}

/* Make the content centered on larger screens */
.quarto-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}